@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: var(--font-inter);
}

body {
    font-family: var(--font-inter);
}

.font-marker {
    font-family: var(--font-marker);
}